@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --merah: #b74b4b;
  --hitam: #000000;
  --abu: #868585;
  --putih: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--hitam);
  color: var(--putih);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--putih);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: var(--putih);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: var(--merah);
  border-bottom: 3px solid var(--merah);
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-size: cover;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: var(--merah);
}

.home-content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.6rem;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 35% 10px;
  box-shadow: 0 0 30px var(--merah);
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--merah);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: var(--merah);
}

.social-icons a:hover {
  color: var(--hitam);
  transform: scale(1.3) translateY(-5px);
  background-color: var(--merah);
  box-shadow: 0 0 25px var(--merah);
}

.btn {
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem 2.8rem;
  background-color: var(--hitam);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--merah);
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid var(--merah);
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale3d(1.03);
  background-color: var(--merah);
  color: var(--hitam);
  box-shadow: 0 0 25px var(--merah);
}

.text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

/* about */

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 6rem;
  background-color: var(--hitam);
}

.about h1 {
  color: var(--merah);
  margin-bottom: 2rem;
}

.about-isi {
  width: 70%;
  background-color: rgb(70, 70, 70);
  padding: 3rem;
  border-radius: 10px;
}

.isi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  padding: 0.5rem;
  border-bottom: 2px solid var(--abu);
}

/* contact */

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 6rem;
  background-color: var(--hitam);
}

.contact h1 {
  color: var(--merah);
  transform: scale3d(1.03);
  margin-bottom: 2rem;
}

.isi-contact {
  margin: 3rem;
}

.isi-contact a {
  color: var(--putih);
  font-weight: 700;
  background-color: var(--abu);
  font-size: 3rem;
  padding: 1rem;
  margin: 0 1rem 0 0;
  border: 2px solid var(--putih);
  border-radius: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.isi-contact a:hover {
  color: black;
  background-color: var(--merah);
  border: 2px solid var(--merah);
  box-shadow: 0 0 25px var(--merah);
}

/* activity */

.activity {
  width: 100%;
  height: 200vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.6rem;
}

.isi-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--abu);
  padding: 0 5rem 5rem;
}

.isi-container h1 {
  margin: 2rem;
}

.gambar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card img {
  width: 200px;
  border-radius: 20px;
}

.card {
  transition: 0.5s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  border-radius: 50px;
  background-color: var(--hitam);
  box-shadow: 0 30px 30px var(--hitam);
}

/* project */

.content-project {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(assets/latarbelakang.jpg);
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.container-project {
  display: flex;
  margin: 8rem;
  gap: 5rem;
}

.project {
  background-color: var(--abu);
  width: 250px;
  height: 300px;
  border-radius: 2rem;
}

.project-img {
  width: 100%;
  height: 150px;
  border-radius: 2rem 2rem 0 0;
}

.project-body {
  margin: 1rem 2rem;
}

.project-title {
  color: var(--merah);
  font-size: 2rem;
}

.project-text {
  font-size: 1.3rem;
  padding: 1rem 0;
  margin-bottom: 0.8rem;
}

.btn-project {
  background-color: var(--abu);
  padding: 0.6rem;
  border-radius: 2rem;
  border: 2px solid var(--merah);
  color: var(--putih);
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-project:hover {
  color: var(--putih);
  background-color: var(--merah);
  transform: scale3d(1.03);
  box-shadow: 0 0 25px var(--merah);
}

@media (max-width: 768px) {
  nav {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 20%;
    border-left: 3px solid var(--merah);
    border-bottom: 3px solid var(--merah);
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav a:active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 2rem 2rem;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--merah);
  }

  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3 {
    font-size: 2rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .isi {
    display: flex;
    flex-direction: column;
  }
}
